openapi: 3.2.0
info:
  title: Lukka Reference Data Analytics - Derived Data API
  version: 1.0.0
  description: 'The golden copy of crypto asset reference data: normalised assets, entities, marketplaces, custodians, VASPs, asset/pair/derivative cross-reference mappings, crypto actions, LDACS sectors, core asset scores, ESG scores and prediction markets.'
  contact:
    name: Lukka Support
    url: https://lukka.tech/support/
  x-origin:
  - format: postman
    version: 2.1.0
    url: https://apidocs.lukka.tech/
servers:
- url: https://data-refdata-api.lukka.tech
  description: Lukka production (data-refdata-api.lukka.tech)
security:
- bearerAuth: []
tags:
- name: Analytics - Derived Data
paths:
  /v2/lukka/core-asset-score:
    get:
      operationId: lcas
      summary: LCAS
      tags:
      - Analytics - Derived Data
      parameters:
      - name: scoringDetails
        in: query
        required: false
        schema:
          type: string
        example: DETAILED
      - name: assetLid
        in: query
        required: false
        schema:
          type: string
        example: LA07HZNJ663
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
        example: '2024-10-01T00:00:00Z'
      - name: toDate
        in: query
        required: false
        schema:
          type: string
        example: '2024-10-01T00:00:00Z'
      responses:
        '200':
          description: LCAS Example
  /v2/lukka/esg-score:
    get:
      operationId: esgScores
      summary: ESG Scores
      tags:
      - Analytics - Derived Data
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '100'
      - name: offset
        in: query
        required: false
        schema:
          type: string
        example: '1800'
      - name: assetLid
        in: query
        required: false
        schema:
          type: string
        example: LA2XB0HNPU9
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
        example: '2024-03-05T00:00:00Z'
      - name: toDate
        in: query
        required: false
        schema:
          type: string
        example: '2024-03-06T00:00:00Z'
      responses:
        '200':
          description: Successful response
  /v2/lukka/market-score:
    get:
      operationId: marketScores
      summary: Market Scores
      tags:
      - Analytics - Derived Data
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    oktaClientCredentials:
      type: oauth2
      description: Lukka issues JWT access tokens from its Okta authorization servers using the OAuth 2.0 client_credentials grant. Encode the Lukka-issued client id and secret as HTTP Basic credentials on the token request; the returned access_token is then sent as a Bearer token on every data API call.
      flows:
        clientCredentials:
          tokenUrl: https://sso.lukka.tech/oauth2/aus1imo2fqcx5Ik4Q0h8/v1/token
          scopes:
            pricing: Access to Lukka Pricing & Valuation and Market Data endpoints
            interclient_access: Cross-client access scope advertised by the Lukka Okta authorization servers
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from the Lukka Okta token endpoint.
