openapi: 3.2.0
info:
  title: Lukka Reference Data API (v1) Reference Data v1 API
  version: '1.0'
  description: 'Lukka Reference Data v1 - a security master of standardized crypto asset data: the Lukka normalized asset master plus active, historical, newly added and newly deleted asset and pair cross-reference mappings per source entity.'
  contact:
    name: Lukka Reference Data Support
    email: support_refdata@lukka.tech
  x-origin:
  - format: postman
    version: 2.1.0
    url: https://apidocs-refdata.lukka.tech/
servers:
- url: https://api.lukka.tech/refdata
  description: Lukka Reference Data v1 base endpoint (as published in the Lukka Reference Data documentation)
security:
- bearerAuth: []
tags:
- name: Reference Data v1
paths:
  /v1/lukka/assets:
    get:
      operationId: assetMaster
      summary: Asset Master
      tags:
      - Reference Data v1
      description: 'Get a list of all the Lukka normalized assets with details.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        lukka_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information


        lukka_asset_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker)


        lukka_asset_name

        CHARACTER

        256

        Lukka''s long name for the asset


        whitepaper_code

        CHARACTER

        256

        Ticker of the crypto asset found in the primary source


        asset_type

        CHARACTER

        20

        Type of crypto asset such as coin, token, stablecoin, etc.


        asset_website

        CHARACTER

        4000

        Official website of the asset or primary source of asset information


        blockchain

        CHARACTER

        256

        Blockchain on which the asset resides'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/active:
    get:
      operationId: activeAssetMappings
      summary: Active Asset Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the current assets supported by an entity mapped to Lukka normalized assets.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code (ticker) for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_asset_code

        CHARACTER

        256

        Asset code (ticker) provided by the source entity


        entity_asset_name

        CHARACTER

        256

        Asset name provided by the source entity


        entity_asset_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the asset


        entity_withdrawal_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_type

        CHARACTER

        256

        Indicates if the withdrawal fee charged is a percentage or unit


        lukka_asset_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information


        lukka_asset_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker)


        lukka_asset_name

        CHARACTER

        256

        Lukka''s long name for the asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity asset was mapped to the Lukka asset


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the asset; also indicates the time when the entity to Lukka asset mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/inactive:
    get:
      operationId: historicalAssetMappings
      summary: Historical Asset Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the historical assets supported by an entity mapped to Lukka normalized assets.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code (ticker) for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_asset_code

        CHARACTER

        256

        Asset code (ticker) provided by the source entity


        entity_asset_name

        CHARACTER

        256

        Asset name provided by the source entity


        entity_asset_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the asset


        entity_withdrawal_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_type

        CHARACTER

        256

        Indicates if the withdrawal fee charged is a percentage or unit


        lukka_asset_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information


        lukka_asset_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker)


        lukka_asset_name

        CHARACTER

        256

        Lukka''s long name for the asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity asset was mapped to the Lukka asset


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the asset; also indicates the time when the entity to Lukka asset mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/added:
    get:
      operationId: newlyAddedAssetMappings
      summary: Newly Added Asset Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the assets listed by an entity the previous day mapped to Lukka normalized assets.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code (ticker) for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_asset_code

        CHARACTER

        256

        Asset code (ticker) provided by the source entity


        entity_asset_name

        CHARACTER

        256

        Asset name provided by the source entity


        entity_asset_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the asset


        entity_withdrawal_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_type

        CHARACTER

        256

        Indicates if the withdrawal fee charged is a percentage or unit


        lukka_asset_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information


        lukka_asset_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker)


        lukka_asset_name

        CHARACTER

        256

        Lukka''s long name for the asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity asset was mapped to the Lukka asset


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the asset; also indicates the time when the entity to Lukka asset mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/deleted:
    get:
      operationId: newlyDeletedAssetMappings
      summary: Newly Deleted Asset Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the assets delisted by an entity the previous day mapped to Lukka normalized assets.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code (ticker) for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_asset_code

        CHARACTER

        256

        Asset code (ticker) provided by the source entity


        entity_asset_name

        CHARACTER

        256

        Asset name provided by the source entity


        entity_asset_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the asset


        entity_withdrawal_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when withdrawing the asset


        entity_withdrawal_fee_type

        CHARACTER

        256

        Indicates if the withdrawal fee charged is a percentage or unit


        lukka_asset_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information


        lukka_asset_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker)


        lukka_asset_name

        CHARACTER

        256

        Lukka''s long name for the asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity asset was mapped to the Lukka asset


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the asset; also indicates the time when the entity to Lukka asset mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/active:
    get:
      operationId: activePairMappings
      summary: Active Pair Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the current pairs supported by an entity mapped to Lukka normalized pairs.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_pair_code

        CHARACTER

        256

        Pair code provided by the source entity


        entity_asset_one_code

        CHARACTER

        256

        Base asset code (ticker) of the pair provided by the source entity


        entity_asset_one_name

        CHARACTER

        256

        Base asset name of the pair provided by the source entity


        entity_asset_one_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the base asset


        entity_asset_two_code

        CHARACTER

        256

        Counter asset code (ticker) of the pair provided by the source entity


        entity_asset_two_name

        CHARACTER

        256

        Counter asset name of the pair provided by the source entity


        entity_asset_two_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the counter asset


        entity_price_precision

        NUMERIC


        Fixed number of decimal places to which the price is rounded off by the source entity


        entity_quantity_precision

        NUMERIC


        Fixed number of decimal places to which the quantity traded is rounded off by the source entity


        entity_minimum_tick_size

        NUMERIC


        Smallest price increment in which the source entity prices are quoted


        entity_minimum_trade_quantity

        NUMERIC


        Minimum amount of base asset allowed by the source entity to be traded


        entity_trade_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when trading


        entity_trade_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when trading


        entity_trade_fee_type

        CHARACTER

        256

        Indicates if the trade fee charged is a percentage or unit


        lukka_pair_code

        CHARACTER

        256

        Lukka normalized unique pair code


        lukka_asset_one_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the base asset. Please refer to the Lukka ID document for more information


        lukka_asset_one_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the base asset


        lukka_asset_one_name

        CHARACTER

        256

        Lukka''s long name for the base asset


        lukka_asset_two_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information


        lukka_asset_two_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the counter asset


        lukka_asset_two_name

        CHARACTER

        256

        Lukka''s long name for the counter asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity to Lukka pair mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/inactive:
    get:
      operationId: historicalPairMappings
      summary: Historical Pair Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the historical pairs supported by an entity mapped to Lukka normalized pairs.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_pair_code

        CHARACTER

        256

        Pair code provided by the source entity


        entity_asset_one_code

        CHARACTER

        256

        Base asset code (ticker) of the pair provided by the source entity


        entity_asset_one_name

        CHARACTER

        256

        Base asset name of the pair provided by the source entity


        entity_asset_one_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the base asset


        entity_asset_two_code

        CHARACTER

        256

        Counter asset code (ticker) of the pair provided by the source entity


        entity_asset_two_name

        CHARACTER

        256

        Counter asset name of the pair provided by the source entity


        entity_asset_two_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the counter asset


        entity_price_precision

        NUMERIC


        Fixed number of decimal places to which the price is rounded off by the source entity


        entity_quantity_precision

        NUMERIC


        Fixed number of decimal places to which the quantity traded is rounded off by the source entity


        entity_minimum_tick_size

        NUMERIC


        Smallest price increment in which the source entity prices are quoted


        entity_minimum_trade_quantity

        NUMERIC


        Minimum amount of base asset allowed by the source entity to be traded


        entity_trade_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when trading


        entity_trade_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when trading


        entity_trade_fee_type

        CHARACTER

        256

        Indicates if the trade fee charged is a percentage or unit


        lukka_pair_code

        CHARACTER

        256

        Lukka normalized unique pair code


        lukka_asset_one_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the base asset. Please refer to the Lukka ID document for more information


        lukka_asset_one_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the base asset


        lukka_asset_one_name

        CHARACTER

        256

        Lukka''s long name for the base asset


        lukka_asset_two_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information


        lukka_asset_two_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the counter asset


        lukka_asset_two_name

        CHARACTER

        256

        Lukka''s long name for the counter asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity to Lukka pair mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/added:
    get:
      operationId: newlyAddedPairMappings
      summary: Newly Added Pair Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the pairs listed by an entity the previous day mapped to Lukka normalized pairs.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_pair_code

        CHARACTER

        256

        Pair code provided by the source entity


        entity_asset_one_code

        CHARACTER

        256

        Base asset code (ticker) of the pair provided by the source entity


        entity_asset_one_name

        CHARACTER

        256

        Base asset name of the pair provided by the source entity


        entity_asset_one_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the base asset


        entity_asset_two_code

        CHARACTER

        256

        Counter asset code (ticker) of the pair provided by the source entity


        entity_asset_two_name

        CHARACTER

        256

        Counter asset name of the pair provided by the source entity


        entity_asset_two_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the counter asset


        entity_price_precision

        NUMERIC


        Fixed number of decimal places to which the price is rounded off by the source entity


        entity_quantity_precision

        NUMERIC


        Fixed number of decimal places to which the quantity traded is rounded off by the source entity


        entity_minimum_tick_size

        NUMERIC


        Smallest price increment in which the source entity prices are quoted


        entity_minimum_trade_quantity

        NUMERIC


        Minimum amount of base asset allowed by the source entity to be traded


        entity_trade_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when trading


        entity_trade_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when trading


        entity_trade_fee_type

        CHARACTER

        256

        Indicates if the trade fee charged is a percentage or unit


        lukka_pair_code

        CHARACTER

        256

        Lukka normalized unique pair code


        lukka_asset_one_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the base asset. Please refer to the Lukka ID document for more information


        lukka_asset_one_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the base asset


        lukka_asset_one_name

        CHARACTER

        256

        Lukka''s long name for the base asset


        lukka_asset_two_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information


        lukka_asset_two_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the counter asset


        lukka_asset_two_name

        CHARACTER

        256

        Lukka''s long name for the counter asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity to Lukka pair mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/deleted:
    get:
      operationId: newlyDeletedPairMappings
      summary: Newly Deleted Pair Mappings
      tags:
      - Reference Data v1
      description: 'Get the cross reference of all the pairs delisted by an entity the previous day mapped to Lukka normalized pairs.


        Response Details


        Field Name

        Data Type

        Data Type Details

        Description


        entity_name

        CHARACTER

        256

        Name of the source entity


        entity_code

        CHARACTER

        256

        Unique Lukka code for the source entity


        entity_type

        CHARACTER

        20

        Type of service provided by the source entity


        entity_pair_code

        CHARACTER

        256

        Pair code provided by the source entity


        entity_asset_one_code

        CHARACTER

        256

        Base asset code (ticker) of the pair provided by the source entity


        entity_asset_one_name

        CHARACTER

        256

        Base asset name of the pair provided by the source entity


        entity_asset_one_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the base asset


        entity_asset_two_code

        CHARACTER

        256

        Counter asset code (ticker) of the pair provided by the source entity


        entity_asset_two_name

        CHARACTER

        256

        Counter asset name of the pair provided by the source entity


        entity_asset_two_internal_id

        CHARACTER

        256

        Internal code provided by the source entity to uniquely identify the counter asset


        entity_price_precision

        NUMERIC


        Fixed number of decimal places to which the price is rounded off by the source entity


        entity_quantity_precision

        NUMERIC


        Fixed number of decimal places to which the quantity traded is rounded off by the source entity


        entity_minimum_tick_size

        NUMERIC


        Smallest price increment in which the source entity prices are quoted


        entity_minimum_trade_quantity

        NUMERIC


        Minimum amount of base asset allowed by the source entity to be traded


        entity_trade_fee_asset_code

        CHARACTER

        256

        Asset code (ticker) of the fee charged by the source entity when trading


        entity_trade_fee_amount

        NUMERIC


        Amount of fee charged by the source entity when trading


        entity_trade_fee_type

        CHARACTER

        256

        Indicates if the trade fee charged is a percentage or unit


        lukka_pair_code

        CHARACTER

        256

        Lukka normalized unique pair code


        lukka_asset_one_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the base asset. Please refer to the Lukka ID document for more information


        lukka_asset_one_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the base asset


        lukka_asset_one_name

        CHARACTER

        256

        Lukka''s long name for the base asset


        lukka_asset_two_id

        CHARACTER

        11

        11-character unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information


        lukka_asset_two_code

        CHARACTER

        256

        Lukka normalized unique asset code (ticker) for the counter asset


        lukka_asset_two_name

        CHARACTER

        256

        Lukka''s long name for the counter asset


        start_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair


        end_time

        DATE

        ISO 8601

        Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity to Lukka pair mapping was removed'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from the Lukka Okta token endpoint.
