openapi: 3.1.0
info:
  title: Lukka Reference Data API (v1)
  version: '1.0'
  description: 'Lukka Reference Data v1 - a security master of standardized crypto asset data: the Lukka normalized asset
    master plus active, historical, newly added and newly deleted asset and pair cross-reference mappings per source entity.'
  contact:
    name: Lukka Reference Data Support
    email: support_refdata@lukka.tech
  x-origin:
  - format: postman
    version: 2.1.0
    url: https://apidocs-refdata.lukka.tech/
servers:
- url: https://api.lukka.tech/refdata
  description: Lukka Reference Data v1 base endpoint (as published in the Lukka Reference Data documentation)
tags:
- name: Reference Data v1
security:
- bearerAuth: []
paths:
  /v1/lukka/assets:
    get:
      operationId: assetMaster
      summary: Asset Master
      tags:
      - Reference Data v1
      description: "Get a list of all the Lukka normalized assets with details.\n\n Response Details \n\n \n \n \n Field Name\
        \ \n Data Type \n Data Type Details \n Description \n \n \n lukka_id \n CHARACTER \n 11 \n 11-character unique Lukka\
        \ ID (LID) for the crypto asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_code\
        \ \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) \n \n \n lukka_asset_name \n CHARACTER \n 256\
        \ \n Lukka's long name for the asset \n \n \n whitepaper_code \n CHARACTER \n 256 \n Ticker of the crypto asset found\
        \ in the primary source \n \n \n asset_type \n CHARACTER \n 20 \n Type of crypto asset such as coin, token, stablecoin,\
        \ etc. \n \n \n asset_website \n CHARACTER \n 4000 \n Official website of the asset or primary source of asset information\
        \ \n \n \n blockchain \n CHARACTER \n 256 \n Blockchain on which the asset resides"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/active:
    get:
      operationId: activeAssetMappings
      summary: Active Asset Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the current assets supported by an entity mapped to Lukka normalized assets.\n\
        \n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n entity_name\
        \ \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique Lukka code (ticker)\
        \ for the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by the source entity \n\
        \ \n \n entity_asset_code \n CHARACTER \n 256 \n Asset code (ticker) provided by the source entity \n \n \n entity_asset_name\
        \ \n CHARACTER \n 256 \n Asset name provided by the source entity \n \n \n entity_asset_internal_id \n CHARACTER \n\
        \ 256 \n Internal code provided by the source entity to uniquely identify the asset \n \n \n entity_withdrawal_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when withdrawing the asset \n\
        \ \n \n entity_withdrawal_fee_amount \n NUMERIC \n \n Amount of fee charged by the source entity when withdrawing\
        \ the asset \n \n \n entity_withdrawal_fee_type \n CHARACTER \n 256 \n Indicates if the withdrawal fee charged is\
        \ a percentage or unit \n \n \n lukka_asset_id \n CHARACTER \n 11 \n 11-character unique Lukka ID (LID) for the crypto\
        \ asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique asset code (ticker) \n \n \n lukka_asset_name \n CHARACTER \n 256 \n Lukka's long name\
        \ for the asset \n \n \n start_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity asset was mapped to the\
        \ Lukka asset \n \n \n end_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the asset;\
        \ also indicates the time when the entity to Lukka asset mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/inactive:
    get:
      operationId: historicalAssetMappings
      summary: Historical Asset Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the historical assets supported by an entity mapped to Lukka normalized\
        \ assets.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n\
        \ entity_name \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique\
        \ Lukka code (ticker) for the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by\
        \ the source entity \n \n \n entity_asset_code \n CHARACTER \n 256 \n Asset code (ticker) provided by the source entity\
        \ \n \n \n entity_asset_name \n CHARACTER \n 256 \n Asset name provided by the source entity \n \n \n entity_asset_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the asset \n \n \n entity_withdrawal_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when withdrawing the asset \n\
        \ \n \n entity_withdrawal_fee_amount \n NUMERIC \n \n Amount of fee charged by the source entity when withdrawing\
        \ the asset \n \n \n entity_withdrawal_fee_type \n CHARACTER \n 256 \n Indicates if the withdrawal fee charged is\
        \ a percentage or unit \n \n \n lukka_asset_id \n CHARACTER \n 11 \n 11-character unique Lukka ID (LID) for the crypto\
        \ asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique asset code (ticker) \n \n \n lukka_asset_name \n CHARACTER \n 256 \n Lukka's long name\
        \ for the asset \n \n \n start_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity asset was mapped to the\
        \ Lukka asset \n \n \n end_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the asset;\
        \ also indicates the time when the entity to Lukka asset mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/added:
    get:
      operationId: newlyAddedAssetMappings
      summary: Newly Added Asset Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the assets listed by an entity the previous day mapped to Lukka normalized\
        \ assets.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n\
        \ entity_name \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique\
        \ Lukka code (ticker) for the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by\
        \ the source entity \n \n \n entity_asset_code \n CHARACTER \n 256 \n Asset code (ticker) provided by the source entity\
        \ \n \n \n entity_asset_name \n CHARACTER \n 256 \n Asset name provided by the source entity \n \n \n entity_asset_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the asset \n \n \n entity_withdrawal_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when withdrawing the asset \n\
        \ \n \n entity_withdrawal_fee_amount \n NUMERIC \n \n Amount of fee charged by the source entity when withdrawing\
        \ the asset \n \n \n entity_withdrawal_fee_type \n CHARACTER \n 256 \n Indicates if the withdrawal fee charged is\
        \ a percentage or unit \n \n \n lukka_asset_id \n CHARACTER \n 11 \n 11-character unique Lukka ID (LID) for the crypto\
        \ asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique asset code (ticker) \n \n \n lukka_asset_name \n CHARACTER \n 256 \n Lukka's long name\
        \ for the asset \n \n \n start_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity asset was mapped to the\
        \ Lukka asset \n \n \n end_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the asset;\
        \ also indicates the time when the entity to Lukka asset mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/assets/mappings/deleted:
    get:
      operationId: newlyDeletedAssetMappings
      summary: Newly Deleted Asset Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the assets delisted by an entity the previous day mapped to Lukka normalized\
        \ assets.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n\
        \ entity_name \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique\
        \ Lukka code (ticker) for the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by\
        \ the source entity \n \n \n entity_asset_code \n CHARACTER \n 256 \n Asset code (ticker) provided by the source entity\
        \ \n \n \n entity_asset_name \n CHARACTER \n 256 \n Asset name provided by the source entity \n \n \n entity_asset_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the asset \n \n \n entity_withdrawal_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when withdrawing the asset \n\
        \ \n \n entity_withdrawal_fee_amount \n NUMERIC \n \n Amount of fee charged by the source entity when withdrawing\
        \ the asset \n \n \n entity_withdrawal_fee_type \n CHARACTER \n 256 \n Indicates if the withdrawal fee charged is\
        \ a percentage or unit \n \n \n lukka_asset_id \n CHARACTER \n 11 \n 11-character unique Lukka ID (LID) for the crypto\
        \ asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique asset code (ticker) \n \n \n lukka_asset_name \n CHARACTER \n 256 \n Lukka's long name\
        \ for the asset \n \n \n start_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity asset was mapped to the\
        \ Lukka asset \n \n \n end_time \n DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the asset;\
        \ also indicates the time when the entity to Lukka asset mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/active:
    get:
      operationId: activePairMappings
      summary: Active Pair Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the current pairs supported by an entity mapped to Lukka normalized pairs.\n\
        \n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n entity_name\
        \ \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique Lukka code for\
        \ the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by the source entity \n \n\
        \ \n entity_pair_code \n CHARACTER \n 256 \n Pair code provided by the source entity \n \n \n entity_asset_one_code\
        \ \n CHARACTER \n 256 \n Base asset code (ticker) of the pair provided by the source entity \n \n \n entity_asset_one_name\
        \ \n CHARACTER \n 256 \n Base asset name of the pair provided by the source entity \n \n \n entity_asset_one_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the base asset \n \n \n\
        \ entity_asset_two_code \n CHARACTER \n 256 \n Counter asset code (ticker) of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_name \n CHARACTER \n 256 \n Counter asset name of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_internal_id \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely\
        \ identify the counter asset \n \n \n entity_price_precision \n NUMERIC \n \n Fixed number of decimal places to which\
        \ the price is rounded off by the source entity \n \n \n entity_quantity_precision \n NUMERIC \n \n Fixed number of\
        \ decimal places to which the quantity traded is rounded off by the source entity \n \n \n entity_minimum_tick_size\
        \ \n NUMERIC \n \n Smallest price increment in which the source entity prices are quoted \n \n \n entity_minimum_trade_quantity\
        \ \n NUMERIC \n \n Minimum amount of base asset allowed by the source entity to be traded \n \n \n entity_trade_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when trading \n \n \n entity_trade_fee_amount\
        \ \n NUMERIC \n \n Amount of fee charged by the source entity when trading \n \n \n entity_trade_fee_type \n CHARACTER\
        \ \n 256 \n Indicates if the trade fee charged is a percentage or unit \n \n \n lukka_pair_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique pair code \n \n \n lukka_asset_one_id \n CHARACTER \n 11 \n 11-character unique Lukka\
        \ ID (LID) for the base asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_one_code\
        \ \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the base asset \n \n \n lukka_asset_one_name\
        \ \n CHARACTER \n 256 \n Lukka's long name for the base asset \n \n \n lukka_asset_two_id \n CHARACTER \n 11 \n 11-character\
        \ unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information \n \n \n\
        \ lukka_asset_two_code \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the counter asset \n\
        \ \n \n lukka_asset_two_name \n CHARACTER \n 256 \n Lukka's long name for the counter asset \n \n \n start_time \n\
        \ DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair \n \n \n end_time \n DATE\
        \ \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity\
        \ to Lukka pair mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/inactive:
    get:
      operationId: historicalPairMappings
      summary: Historical Pair Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the historical pairs supported by an entity mapped to Lukka normalized\
        \ pairs.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n entity_name\
        \ \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique Lukka code for\
        \ the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by the source entity \n \n\
        \ \n entity_pair_code \n CHARACTER \n 256 \n Pair code provided by the source entity \n \n \n entity_asset_one_code\
        \ \n CHARACTER \n 256 \n Base asset code (ticker) of the pair provided by the source entity \n \n \n entity_asset_one_name\
        \ \n CHARACTER \n 256 \n Base asset name of the pair provided by the source entity \n \n \n entity_asset_one_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the base asset \n \n \n\
        \ entity_asset_two_code \n CHARACTER \n 256 \n Counter asset code (ticker) of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_name \n CHARACTER \n 256 \n Counter asset name of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_internal_id \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely\
        \ identify the counter asset \n \n \n entity_price_precision \n NUMERIC \n \n Fixed number of decimal places to which\
        \ the price is rounded off by the source entity \n \n \n entity_quantity_precision \n NUMERIC \n \n Fixed number of\
        \ decimal places to which the quantity traded is rounded off by the source entity \n \n \n entity_minimum_tick_size\
        \ \n NUMERIC \n \n Smallest price increment in which the source entity prices are quoted \n \n \n entity_minimum_trade_quantity\
        \ \n NUMERIC \n \n Minimum amount of base asset allowed by the source entity to be traded \n \n \n entity_trade_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when trading \n \n \n entity_trade_fee_amount\
        \ \n NUMERIC \n \n Amount of fee charged by the source entity when trading \n \n \n entity_trade_fee_type \n CHARACTER\
        \ \n 256 \n Indicates if the trade fee charged is a percentage or unit \n \n \n lukka_pair_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique pair code \n \n \n lukka_asset_one_id \n CHARACTER \n 11 \n 11-character unique Lukka\
        \ ID (LID) for the base asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_one_code\
        \ \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the base asset \n \n \n lukka_asset_one_name\
        \ \n CHARACTER \n 256 \n Lukka's long name for the base asset \n \n \n lukka_asset_two_id \n CHARACTER \n 11 \n 11-character\
        \ unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information \n \n \n\
        \ lukka_asset_two_code \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the counter asset \n\
        \ \n \n lukka_asset_two_name \n CHARACTER \n 256 \n Lukka's long name for the counter asset \n \n \n start_time \n\
        \ DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair \n \n \n end_time \n DATE\
        \ \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity\
        \ to Lukka pair mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/added:
    get:
      operationId: newlyAddedPairMappings
      summary: Newly Added Pair Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the pairs listed by an entity the previous day mapped to Lukka normalized\
        \ pairs.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n entity_name\
        \ \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique Lukka code for\
        \ the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by the source entity \n \n\
        \ \n entity_pair_code \n CHARACTER \n 256 \n Pair code provided by the source entity \n \n \n entity_asset_one_code\
        \ \n CHARACTER \n 256 \n Base asset code (ticker) of the pair provided by the source entity \n \n \n entity_asset_one_name\
        \ \n CHARACTER \n 256 \n Base asset name of the pair provided by the source entity \n \n \n entity_asset_one_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the base asset \n \n \n\
        \ entity_asset_two_code \n CHARACTER \n 256 \n Counter asset code (ticker) of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_name \n CHARACTER \n 256 \n Counter asset name of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_internal_id \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely\
        \ identify the counter asset \n \n \n entity_price_precision \n NUMERIC \n \n Fixed number of decimal places to which\
        \ the price is rounded off by the source entity \n \n \n entity_quantity_precision \n NUMERIC \n \n Fixed number of\
        \ decimal places to which the quantity traded is rounded off by the source entity \n \n \n entity_minimum_tick_size\
        \ \n NUMERIC \n \n Smallest price increment in which the source entity prices are quoted \n \n \n entity_minimum_trade_quantity\
        \ \n NUMERIC \n \n Minimum amount of base asset allowed by the source entity to be traded \n \n \n entity_trade_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when trading \n \n \n entity_trade_fee_amount\
        \ \n NUMERIC \n \n Amount of fee charged by the source entity when trading \n \n \n entity_trade_fee_type \n CHARACTER\
        \ \n 256 \n Indicates if the trade fee charged is a percentage or unit \n \n \n lukka_pair_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique pair code \n \n \n lukka_asset_one_id \n CHARACTER \n 11 \n 11-character unique Lukka\
        \ ID (LID) for the base asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_one_code\
        \ \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the base asset \n \n \n lukka_asset_one_name\
        \ \n CHARACTER \n 256 \n Lukka's long name for the base asset \n \n \n lukka_asset_two_id \n CHARACTER \n 11 \n 11-character\
        \ unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information \n \n \n\
        \ lukka_asset_two_code \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the counter asset \n\
        \ \n \n lukka_asset_two_name \n CHARACTER \n 256 \n Lukka's long name for the counter asset \n \n \n start_time \n\
        \ DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair \n \n \n end_time \n DATE\
        \ \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity\
        \ to Lukka pair mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/entities/pairs/mappings/deleted:
    get:
      operationId: newlyDeletedPairMappings
      summary: Newly Deleted Pair Mappings
      tags:
      - Reference Data v1
      description: "Get the cross reference of all the pairs delisted by an entity the previous day mapped to Lukka normalized\
        \ pairs.\n\n Response Details \n\n \n \n \n Field Name \n Data Type \n Data Type Details \n Description \n \n \n entity_name\
        \ \n CHARACTER \n 256 \n Name of the source entity \n \n \n entity_code \n CHARACTER \n 256 \n Unique Lukka code for\
        \ the source entity \n \n \n entity_type \n CHARACTER \n 20 \n Type of service provided by the source entity \n \n\
        \ \n entity_pair_code \n CHARACTER \n 256 \n Pair code provided by the source entity \n \n \n entity_asset_one_code\
        \ \n CHARACTER \n 256 \n Base asset code (ticker) of the pair provided by the source entity \n \n \n entity_asset_one_name\
        \ \n CHARACTER \n 256 \n Base asset name of the pair provided by the source entity \n \n \n entity_asset_one_internal_id\
        \ \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely identify the base asset \n \n \n\
        \ entity_asset_two_code \n CHARACTER \n 256 \n Counter asset code (ticker) of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_name \n CHARACTER \n 256 \n Counter asset name of the pair provided by the source entity\
        \ \n \n \n entity_asset_two_internal_id \n CHARACTER \n 256 \n Internal code provided by the source entity to uniquely\
        \ identify the counter asset \n \n \n entity_price_precision \n NUMERIC \n \n Fixed number of decimal places to which\
        \ the price is rounded off by the source entity \n \n \n entity_quantity_precision \n NUMERIC \n \n Fixed number of\
        \ decimal places to which the quantity traded is rounded off by the source entity \n \n \n entity_minimum_tick_size\
        \ \n NUMERIC \n \n Smallest price increment in which the source entity prices are quoted \n \n \n entity_minimum_trade_quantity\
        \ \n NUMERIC \n \n Minimum amount of base asset allowed by the source entity to be traded \n \n \n entity_trade_fee_asset_code\
        \ \n CHARACTER \n 256 \n Asset code (ticker) of the fee charged by the source entity when trading \n \n \n entity_trade_fee_amount\
        \ \n NUMERIC \n \n Amount of fee charged by the source entity when trading \n \n \n entity_trade_fee_type \n CHARACTER\
        \ \n 256 \n Indicates if the trade fee charged is a percentage or unit \n \n \n lukka_pair_code \n CHARACTER \n 256\
        \ \n Lukka normalized unique pair code \n \n \n lukka_asset_one_id \n CHARACTER \n 11 \n 11-character unique Lukka\
        \ ID (LID) for the base asset. Please refer to the Lukka ID document for more information \n \n \n lukka_asset_one_code\
        \ \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the base asset \n \n \n lukka_asset_one_name\
        \ \n CHARACTER \n 256 \n Lukka's long name for the base asset \n \n \n lukka_asset_two_id \n CHARACTER \n 11 \n 11-character\
        \ unique Lukka ID (LID) for the counter asset. Please refer to the Lukka ID document for more information \n \n \n\
        \ lukka_asset_two_code \n CHARACTER \n 256 \n Lukka normalized unique asset code (ticker) for the counter asset \n\
        \ \n \n lukka_asset_two_name \n CHARACTER \n 256 \n Lukka's long name for the counter asset \n \n \n start_time \n\
        \ DATE \n ISO 8601 \n Timestamp (UTC+0) when the entity pair was mapped to the Lukka pair \n \n \n end_time \n DATE\
        \ \n ISO 8601 \n Timestamp (UTC+0) when the entity stopped supporting the pair; also indicates the time when the entity\
        \ to Lukka pair mapping was removed"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from the Lukka Okta token endpoint.
